//!///////
// Content

.#{$content_class}{
	width: 100%;
	height: 100%;
	
	@include _gr();
	
	h1,h2,h3,h4,h5,h6{
		hyphens: auto;
	}
	
	p,li{
		display: inline-block;
		width: 100%;
		hyphens: auto;
	}
	
	img{
		display: block;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		
		&.left{
			margin-left: 0;
		}
		
		&.right{
			margin-right: 0;
		}
	}
	
	a:not([class^=#{$button_prefix}]):not([class^=#{$icon_prefix}]){
		@extend %underline_link;
	}
	
	ul{
		> li{list-style-type: circle}
		
		ul{
			> li{list-style-type: square}
		}
	}
	
	ol{
		> li{list-style-type: decimal-leading-zero}
		
		> ol{
			> li{list-style-type: decimal}
		}
	}
	
	li{
		display: list-item;
		list-style-position: outside;
		
		li{
			list-style-position: inside;
		}
		
		> ul, > ol{
			margin-top: 0;
			padding-left: 1.5em;
		}
	}
	
	hr{
		width: 100%;
		height: 0;
		
		border-bottom: 1px solid;
		margin: 2.5em 0;
	}
}

@each $name, $size in $breaks
{
	@if $width_max > $size
	{
		@include _break($name)
		{
			.content{
				@include _gr($size);
			}
		}
	}
}