//!////////////////
// Extemded Classes

// Allows for an element to clear its self
%clear{
	*zoom: 1; // IE Fix	
	
	&:before, &:after{
		content: '';
		display: table;
	}
	&:after{clear: both}
}

// Basic flex comlumn setup
%flex_cols{
    display: -ms-flexbox;
	display: flex;
	
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	
	flex-wrap: wrap;
}

// A link with an underline
%underline_link{
	@include _transtions(background);
	
	background: linear-gradient(to right, $color_primary 0%, $color_primary 100%);
	background-repeat: no-repeat;
	background-position: center 102%;
	background-size: 80% 1px;
	
	body:not(.#{$mobile_class}) &{
		&:hover{
			background-position: left 102%;
		}
	}
}