//!//////
// Mixins

//!//////////
// Breakpoint
// -- Pass a size and min/max width variable to the _break mixin. Will use the function _break_builder to write the media querry for the breakpoint.

@mixin _break($size:'phone',$type:'max',$_size:false,$_type:'min')
{
	$break: _break_builder($size,$type);
	
	@if $_size != false
	{
		$break: $break + ' and' _break_builder($_size,$_type);
	}
	
	@media #{$break}
	{
		@content
	}
}

//!/////////////////
// Simple Transtions

@mixin _transtions($prop: all, $time: $transition_normal,$ease: $easing)
{
	transition: $prop $time $ease;	
}

//!////////////
// Aspect Ratio

@mixin _ar($selector: '*',$width: 1,$height: 1)
{
	position: relative;
	width: 100%;
	
	> #{$selector}{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	&:before{
		content: '';
		
		display: block;
		width: 100%;
		height: auto;
		
		padding-top: #{$height / $width * 100 * 1%};
	}
}
